
<!-- This file contains the HTML code that will go inside the 
{{{body}}} in the 'main.handlebars'  file
-->

<h1>BURGERSSSSSSS!</h1>

<h2>LETS EAT SOME BURGERS!</h2>

<h3 id="testColor">Available Burgers:</h3>
<ul >
  {{#each burgers}}

<li> {{burger_name}} <button class="devour-burger" id="devourBurger">Devour Burger!</button>
 </li>
 <br>
  {{/each}}
</ul>
<form class="create-form">
 <input type="text" id="burgerName" name="burgerName">
<br>
<button class="make-burger" id="makeBurger">Make Burger!</button>
</form>

 <script>
   //Code to capture/use inputs of the text box
  $(function() {
    console.log( "ready!" );

    $("#makeBurger").on("click", function(event){
      event.preventDefault();
      var newBurger = {
        burger_name: $("#burgerName").val().trim()
       
      }
    
        // Send the POST request.
    $.ajax("/api/burgers", {
      type: "POST",
      data: newBurger
    }).then(
      function() {
        console.log("created new burger");
        // Reload the page to get the updated list
        location.reload();
      }
    );
    })

     $("#devourBurger").on("click", function(event){
      event.preventDefault();
      let id = $(this).data("id")
      console.log(`this is the id: ${id}`)
    
        // Send the POST request.
   // $.ajax(`/api/burgers/${id}`, {
     // type: "PUT",
   //   data: newBurger
   // }).then(
   //   function() {
     //   console.log("created new burger");
        // Reload the page to get the updated list
       // location.reload();
     // }
   // );
    })
  
  });
</script> 